<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'library.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
</head>
<body>
    {% verbatim %}
    <div class="row top">
        <div class="col s3 card-panel grey lighten-2 hoverable">
            <div id="django-sidebar-title"></div>
            <div id="pages"></div>
        </div>
        <div class="col s9 card-panel teal darken-1 hoverable">
            <div id="django-content-title"></div>
            <div id="django-post-list"></div>
        </div>
    </div>
    {% endverbatim %}
    <script src="{% static 'library.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>