body, html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.row{
    margin-bottom: 0;
    &.top {
       .col {
           &[class*='s'] {
                margin-top: 0;
                margin-bottom: 0;
           }
       }
    }
    footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .hidden {
        display: none;
    }
}

// Creating Fonts Mixins
@mixin create-fonts($i) {
    font-size: #{$i}px !important;
}

// Creating Loops to create classes
@for $i from 1 through 100 {
    .font-size-#{$i}{
        @include create-fonts($i);
    }
}
